html {
	font-size: 15px;
	font-family: poppins, sans-serif; /* I like the font "poppins" */
	background-color: lightgoldenrodyellow;
}

body{
	width: 600px;
	margin: 0 auto;
	background-color: #ff5050;
	padding: 0 20px 20px 20px;
	border: 1px solid lightgoldenrodyellow;
	box-shadow: 5px 5px 10px red;
}

img {
	width: 500px;
	display: block;
	margin: 0 auto;
}

p {
	box-sizing: border-box;
	color:  darkgreen;
	width: 500px;
	border: 1px solid orange;
	box-shadow: 2px 2px 6px red;
	background-color: white;
	padding-left: 5px;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
	margin: 1em auto;
}

li {
	width: 500px;
}

h1 {
	color: lightyellow;
	font-size:  60px;
	text-align:  center;
	margin: 0;
	padding: 20px 0;
	text-shadow: 3px 3px 8px black;
}

h1:hover {
	color: lightgreen;
}

a {
	width: 500px;
	display: block;
	margin: 0 auto;
}

a:hover	{
	color: mediumturquoise;	
}

button {
	margin-top: 15px;
	margin-left: 40px;
}